.signIn-Form-container {
  width: 100%;
  max-width: 400px;
  margin: 5% auto;
  padding: 5% 8% 9% 5%;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #1C3458;
  text-align: center;
  font-family: Arial, sans-serif;
}

.signIn-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.center-text {
  text-align: center;
  color: #000000;
}

.text-input {
  background-color: #ffffff;
  color: #000000;
  max-width: 80%;
  margin-left: 10%;
  text-align: center;
  align-items: center;
  margin-bottom: 2%;
}

.form-textInput {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 3%;
  flex-direction: column;
  color: #000000;
}

.signIn-form-group {
  width: 100%;
  max-width: 400px;
  margin: 5px auto;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #b1ddff;
  border-bottom: white 1px solid;
  border-right: white 1px solid;
  border-left: white 1px solid;
  border-top: white 1px solid;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  padding-right: 5%;
  flex-direction: column;
  color: #000000;
}

.signUp {
  border-top: rgba(13, 119, 250, 100) 1px solid;
  border-bottom: rgba(13, 119, 250, 100) 1px solid;
  color: #000000;
  border-bottom: white 1px solid;
  border-right: white 1px solid;
  border-left: white 1px solid;
  border-top: white 1px solid;
  background-color: #1976d2;
  width: 105%;
}

.google-icon {
  padding-right: 2%;
  margin-top: 1%;
}

.signUp a {
  color: #ffea00;
  font-weight: bold;
}

.signUp a:hover {
  color: #ffffff;
}

.signIn-form-submit-btn {
  background-color: #1976d2;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  border-bottom: white 1px solid;
  border-right: white 1px solid;
  border-left: white 1px solid;
  border-top: white 1px solid;
  margin-left: 2.5%;
}

.google-btn {
  width: 98%;
  background-color: #000000;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  border-bottom: rgb(7, 94, 202) 3px solid;
  border-radius: 10px;
  border-top: rgb(7, 94, 202) 3px solid;
  border-right: rgb(7, 94, 202) 3px solid;
  border-left: rgb(7, 94, 202) 3px solid;
  margin-left: 2.5%;
  margin-bottom: 5%;
}