.landingPage {
  text-align: center;
  padding: 1rem;

  .auth-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-top: .5rem;
    padding: .5rem;
  }

  .welcome-text {
    font-size: clamp(2.5rem, 6vw, 5rem);
    font-weight: bold;
    color: #0d77fa;
    margin-bottom: -2rem;
    word-break: break-word;
  }
}