footer {
  height: 4.5rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #1C3458;
  box-shadow: 0 2px 15px rgba(0, 0, 900, 0.3);
  z-index: 100;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.footer-landing {
  display: flex;
  align-items: center;
  color: #0d77fa;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-landing:hover {
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}