.signUp-Form-container {
  width: 100%;
  max-width: 400px;
  margin: 5% auto;
  padding: 5% 8% 5% 5%;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #1C3458;
  text-align: center;
  font-family: Arial, sans-serif;
}

.signUp-checkbox-container {
  display: flex;
  border-radius: 10px;
  padding-bottom: 2%;
  margin-left: 4%;
}

.signUp-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.center-text {
  text-align: center;
  color: #000000;
}

.text-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-textInput {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 3%;
  gap: 10px;
  flex-direction: column;
  color: #000000;
}

.signUp-form-group {
  width: 100%;
  max-width: 400px;
  margin: 5px auto;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #b1ddff;
  border-bottom: white 1px solid;
  border-right: white 1px solid;
  border-left: white 1px solid;
  border-top: white 1px solid;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  padding-right: 5%;
  flex-direction: column;
  color: #000000;
}

.signUp-form-submit-btn {
  background-color: #1976d2;
  color: white;
  margin-top: 10px;
  border-bottom: white 1px solid;
  border-radius: 10px;
  border-right: white 1px solid;
  border-left: white 1px solid;
  border-top: white 1px solid;
  margin-left: 2.5%;
}