nav {
  height: 5rem !important;
  padding: 0 !important;
  position: sticky;
  top: 0;
  background-color: #1C3458;
  box-shadow: 0 2px 15px rgba(0, 0, 900, 0.3);
  width: 100%;
  z-index: 30;
}

.div-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.div-logo {
  margin-left: 2rem;
}

.div-logo a {
  color: #0d77fa;
  display: flex;
  align-items: center;
  font-size: 2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.div-logo a:hover {
  color: #ffffff;
  transform: scale(1.1);
}


.div-link {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
  margin-right: 2rem;
}

.div-link a {
  color: #0d77fa;
  font-size: 1.1rem;
  text-decoration: none;
  display: flex;
  gap: 3px;
  align-items: center;
  transition: color 0.3s ease;
}

.div-link a:hover {
  color: #ffffff;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  color: #0d77fa;
  font-size: 2rem;
}

.hamburger-menu:hover {
  transform: scale(1);
  color: #ffffff;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  transition: right 0.3s ease;
  padding-top: 60px;
  z-index: 20;
}

.side-menu.open {
  right: 0;
}

.side-menu-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  align-items: flex-start;
}

.side-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0d77fa;
  padding: 0;
  height: 50px;
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: rgba(30, 55, 100, 1);
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 2px 5px rgba(0, 0, 100, .3);
}

.side-menu a:hover {
  transform: translateX(10px);
  box-shadow: 1px 1px rgb(255, 255, 255, 0.8);
}

.menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #0d77fa;
  cursor: pointer;
}

.menu-close:hover {
  transform: scale(1.2);
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .div-link {
    display: none;
  }

  .hamburger-menu {
    display: block;
    margin-right: 2rem;
    margin-left: 10rem;
  }

  .side-menu {
    padding-top: 80px;
  }

  .side-menu.open {
    right: 0;
  }
}

@media only screen and (max-width: 368px) {
  .hamburger-menu {
    display: block;
    margin-right: 2rem;
  }
}